.similar-movie-item {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 260px;
  padding: 10px;
  margin: 0 10px;
  vertical-align: top;
  white-space: normal;
  .card-footer {
    flex: 1 1 auto;
  }
}
