<a class="card similar-movie-item" [routerLink]="'/search/' + movie.id">
    <img class="card-img" [src]="posterPath" [alt]="movie.title" />
    <div class="card-footer">
      <h6 class="card-title">{{movie.title}} <span *ngIf="movie.year">({{movie.year}})</span></h6>
    </div>
</a>
