<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Remove movie</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Do you really want to remove "{{movie.title}}"?</h5>
    <h6>All data will be lost.</h6>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">No</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Yes</button>
  </div>
</ng-template>
<fa-icon [icon]="faTrashAlt"></fa-icon> <span class="d-none d-md-inline">remove</span>
