<div>
  <quill-editor [(ngModel)]="content"></quill-editor>
  <div class="form-group mt-3 text-right">
    <button class="btn btn-secondary" type="submit" (click)="submit()" [disabled]="!canSubmit">Submit</button>
  </div>
</div>
