<span *ngIf="loggedIn" class="navbar-text username">{{username}} <span *ngIf="isAdmin">(admin)</span></span>
<button *ngIf="!loggedIn" class="btn btn-outline-light" (click)="login()">
  <fa-icon [icon]="faSignInAlt"></fa-icon> login
</button>
<button *ngIf="loggedIn" class="btn btn-outline-light" (click)="logout()">
  <fa-icon [icon]="faSignOutAlt"></fa-icon> logout
</button>
