<span [ngClass]="{'badge': true, 'badge-secondary': !watched, 'badge-light': watched}">{{watchedBy.length}}</span> <fa-icon [icon]="faEye"></fa-icon> <span class="d-none d-md-inline">{{ watched ? 'you watched it' : ''}}</span>

