<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/movies">Movies</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{movie.title}}</li>
  </ol>
</nav>
<div class="media">
  <img *ngIf="movie.poster" class="mr-3 poster" [src]="posterPath" [alt]="movie.title" />
  <div class="media-body">
    <h4 class="mb-1">{{movie.title}} <span *ngIf="movie.year">({{movie.year}})</span> <app-adult [adult]="movie.adult"></app-adult></h4>
    <div class="mb-2"><app-genres [genres]="movie.genres"></app-genres></div>
    <div>Added by <strong>{{movie.createdBy | username}}</strong> ({{createdAt | amCalendar}})</div>
    <div *ngIf="movie.originalTitle"><strong>Original Title:</strong> {{movie.originalTitle}}</div>
    <div *ngIf="movie.duration"><strong>Duration:</strong> {{movie.duration}} min</div>
    <div *ngIf="movie.language"><strong>Language:</strong> <app-language [code]="movie.language"></app-language></div>
    <div *ngIf="movie.countries.length > 0"><strong>Countries:</strong> {{movie.countries.join(', ')}}</div>
    <p class="movie-description" *ngIf="movie.description">{{movie.description}}</p>
    <p *ngIf="movie.likes.length > 0"><strong>Liked by:</strong> <span *ngFor="let user of movie.likes; let i = index">{{user | username}}<span *ngIf="i + 1 < movie.likes.length">, </span></span></p>
    <p *ngIf="movie.watchedBy.length > 0"><strong>Watched by:</strong> <span *ngFor="let user of movie.watchedBy; let i = index">{{user | username}}<span *ngIf="i + 1 < movie.likes.length">, </span></span></p>
    <div class="btn-group">
      <button app-like [movieId]="movie.id" [likes]="movie.likes"></button>
      <button app-watch [movieId]="movie.id" [watchedBy]="movie.watchedBy"></button>
      <a *ngIf="movie.imdbId" class="btn btn-outline-secondary" [href]="imdbLink" target="_blank"><fa-icon [icon]="faExternalLinkAlt"></fa-icon> IMDB</a>
      <button *ngIf="canRemove" app-remove class="btn btn-outline-secondary" [movie]="movie" (removed)="remove()"></button>
    </div>
  </div>
</div>
<hr />
<app-youtube-videos [videoIds]="videoIds"></app-youtube-videos>
<hr />
<app-comments [movieId]="movie.id"></app-comments>
