<h3>Similar Movies</h3>
<app-loading-spinner [loading]="loading"></app-loading-spinner>
<p class="mb-5" *ngIf="!loading && movies.length === 0">
No similar movies available
</p>
<div *ngIf="!loading && movies.length > 0" class="similar-movies-row">
  <button class="btn btn-secondary navigate-left" (click)="scrollLeft()">
    <fa-icon [icon]="faArrowLeft" title="scroll left"></fa-icon>
  </button>
  <button class="btn btn-secondary navigate-right" (click)="scrollRight()">
    <fa-icon [icon]="faArrowRight" title="scroll right"></fa-icon>
  </button>
  <div class="similar-movies-list" #similarMoviesList>
    <app-similar-movies-item *ngFor="let movie of movies" [movie]="movie"></app-similar-movies-item>
  </div>
</div>
