$navigation-button-top: 30%;

.similar-movies-row {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

.similar-movies-list {
  display: flex;
  width: 100%;
  overflow:auto;
  white-space:nowrap;
  scroll-behavior: smooth;
}

app-similar-movies-item {
  min-height: 100%;
}

.navigate-right {
  position: absolute;
  top: $navigation-button-top;
  right: 0;
  z-index: 990;
}

.navigate-left {
  position: absolute;
  top: $navigation-button-top;
  left: 0;
  z-index: 990;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}
