<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><fa-icon [icon]="faFilm" class="movienights-logo"></fa-icon> movienights</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbar">
      <div class="mr-auto">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
          </li>
        </ul>
      </div>
      <app-login></app-login>
    </div>
  </div>
</nav>
