<h2>Movies</h2>
<div class="form-inline mb-4">
  <div class="form-group mr-3">
    <label for="watchedFilter" class="my-1 mr-2">Show</label>
    <select id="watchedFilter" class="form-control my-1 mr-2" [(ngModel)]="watchedFilter" (ngModelChange)="filterChanged()">
      <option value="watched">Already watched</option>
      <option value="unwatched">Not watched</option>
      <option value="all">All</option>
    </select>
  </div>
  <div class="form-group user-multiselect mr-2">
      <ng-multiselect-dropdown class="w-100" [settings]="multiselectSettings" [data]="users" [(ngModel)]="usersFilter" (ngModelChange)="usersFilterChanged()"></ng-multiselect-dropdown>
  </div>
  <div class="form-group">
    <label for="sortBy" class="my-1 mr-2">Sort by</label>
    <select id="sortBy" class="form-control my-1 mr-sm-2" [(ngModel)]="sortBy" (ngModelChange)="sortByChanged()">
      <option value="createdAt">Added last</option>
      <option value="title">Title</option>
      <option value="likes">Likes</option>
    </select>
  </div>
</div>
<app-loading-spinner [loading]="loading"></app-loading-spinner>
<app-movie-list-item *ngFor="let movie of moviesSorted; let i = index" [movie]="movie" [last]="i+1 === movies.length" (removed)="removeMovie($event)"></app-movie-list-item>
