<span [ngClass]="{'badge': true, 'badge-secondary': !liked, 'badge-light': liked}">{{likes.length}}</span> <fa-icon [icon]="faThumbsUp"></fa-icon> <span class="d-none d-md-inline">{{ liked ? 'you like it' : ''}}</span>
