/* You can add global styles to this file, and also import other style files */

$breadcrumb-divider: quote(">");

@import "~bootstrap/scss/bootstrap.scss";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

.ql-container {
  font-size: 1rem;
}

.ql-video {
  width: 600px;
  max-width: 100%;
  height: 400px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
