<div class="card mb-4">
  <div class="card-body">
    <quill-view *ngIf="!editing" [content]="comment.content" format="html" theme="snow"></quill-view>
    <app-comment-edit *ngIf="editing" [movieId]="comment.movieId" [commentId]="comment.id" [content]="comment.content" (commentUpdated)="commentUpdated($event)" (updateCanceled)="stopEditing()"></app-comment-edit>
  </div>
  <div class="card-footer">
    <fa-icon [icon]="faPen"></fa-icon> <span class="font-weight-bold">{{comment.createdBy | username}}</span> <span>{{createdAt | amCalendar}}</span> <span *ngIf="showLastChange">(last changed {{modifiedAt | amCalendar}})</span>
    <div class="btn-group float-right">
      <button *ngIf="canEdit && !editing" (click)="startEditing()" class="btn btn-outline-secondary"><fa-icon [icon]="faEdit"></fa-icon> <span class="d-none d-md-inline">edit</span></button>
      <button *ngIf="canRemove" (click)="remove()" class="btn btn-outline-secondary"><fa-icon [icon]="faTrashAlt"></fa-icon> <span class="d-none d-md-inline">remove</span></button>
    </div>
  </div>
</div>

