<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/search">Search</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{movie.title}}</li>
  </ol>
</nav>
<div class="media">
  <img *ngIf="movie.poster" class="mr-3 poster" [src]="posterPath" [alt]="movie.title" />
  <div class="media-body">
    <h4 class="mb-1">{{movie.title}} <span *ngIf="movie.year">({{movie.year}}) <app-adult [adult]="movie.adult"></app-adult></span></h4>
    <div class="mb-2"><app-genres [genres]="movie.genres"></app-genres></div>
    <div *ngIf="movie.originalTitle"><strong>Original Title:</strong> {{movie.originalTitle}}</div>
    <div *ngIf="movie.duration"><strong>Duration:</strong> {{movie.duration}} min</div>
    <div *ngIf="movie.language"><strong>Language:</strong> <app-language [code]="movie.language"></app-language></div>
    <div *ngIf="movie.countries.length > 0"><strong>Countries:</strong> {{movie.countries.join(', ')}}</div>
    <p class="movie-description" *ngIf="movie.description">{{movie.description}}</p>
    <div class="btn-group">
      <a *ngIf="movie.imdbId" class="btn btn-outline-secondary" [href]="imdbLink" target="_blank"><fa-icon [icon]="faExternalLinkAlt"></fa-icon> IMDB</a>
      <button *ngIf="!movie.internalId" class="btn btn-outline-secondary" (click)="add()"><fa-icon [icon]="faPlusCircle"></fa-icon> add</button>
      <button *ngIf="movie.internalId" class="btn btn-outline-secondary" [routerLink]="'/movies/' + movie.internalId"><fa-icon [icon]="faList"></fa-icon> saved version</button>
    </div>
  </div>
</div>
<hr />
<app-youtube-videos [videoIds]="videoIds"></app-youtube-videos>
<hr />
<app-similar-movies-carousel [movieId]="movie.id"></app-similar-movies-carousel>
