<h4>Videos</h4>
<p *ngIf="videoIds.length === 0">No videos available</p>
<app-youtube *ngIf="videoIds.length > 0" [id]="videoIds[0]"></app-youtube>
<div *ngIf="videoIds.length > 1">
  <p [class]="dropdownClass"><button class="btn btn-outline-secondary dropdown-toggle" (click)="toggleShowMoreVideos()">{{dropdownText}}</button></p>
  <div [ngbCollapse]="hideVideos">
    <app-youtube *ngFor="let id of videoIds | slice: 1" [id]="id"></app-youtube>
  </div>
</div>
