<div [class]="searchItemClass">
  <div class="media">
    <a [routerLink]="'/search/'+item.id"><img *ngIf="item.poster" class="mr-3" [src]="posterPath" [alt]="item.title"></a>
    <div class="media-body">
      <h4><a [routerLink]="'/search/'+item.id">{{item.title}} <span *ngIf="item.year">({{item.year}})</span> <app-adult [adult]="item.adult"></app-adult></a></h4>
      <p><span *ngIf="item.title !== item.originalTitle"><strong>Original Title:</strong> {{item.originalTitle}}. </span><strong>Language:</strong> <app-language [code]="item.language"></app-language>.</p>
      <div class="btn-group">
        <button *ngIf="!item.internalId" class="btn btn-outline-secondary" (click)="add()"><fa-icon [icon]="faPlusCircle"></fa-icon> add</button>
        <button class="btn btn-outline-secondary" *ngIf="item.internalId" [routerLink]="'/movies/' + item.internalId"><fa-icon [icon]="faList"></fa-icon> saved version</button>
      </div>
    </div>
  </div>
</div>

