<div [class]="movieClass">
  <div class="media">
    <a [routerLink]="'/movies/'+movie.id"><img *ngIf="movie.poster" class="mr-3" [src]="posterPath" [alt]="movie.title"></a>
    <div class="media-body">
      <h4>
        <a [routerLink]="'/movies/'+movie.id">
          {{movie.title}} <span *ngIf="movie.year">({{movie.year}})</span>
          <app-adult [adult]="movie.adult"></app-adult>
          <fa-layers *ngIf="movie.numberOfComments > 0" [fixedWidth]="true">
            <fa-icon [icon]="faComment"></fa-icon>
            <fa-layers-text class="text-white" [content]="movie.numberOfComments.toString()" transform="shrink-7.8 up-0.7"></fa-layers-text>
          </fa-layers>
        </a>
      </h4>
      <div>Added by <strong>{{movie.createdBy | username}}</strong> ({{createdAt | amCalendar}})</div>
      <p><span *ngIf="movie.title !== movie.originalTitle"><strong>Original Title:</strong> {{movie.originalTitle}}. </span><strong>Language:</strong> <app-language [code]="movie.language"></app-language>.
      </p>
      <div class="btn-group">
        <button app-like [movieId]="movie.id" [likes]="movie.likes"></button>
        <button app-watch [movieId]="movie.id" [watchedBy]="movie.watchedBy"></button>
        <button *ngIf="canRemove" app-remove class="btn btn-outline-secondary" [movie]="movie" (removed)="remove()"></button>
      </div>
    </div>
  </div>
</div>
