<h4>Comments</h4>
<div *ngIf="!loading">
  <app-comment-list-item *ngFor="let comment of comments" [comment]="comment" (commentRemoved)="removeComment($event)"></app-comment-list-item>
  <app-comment-create [movieId]="movieId" (commentAdded)="addComment($event)"></app-comment-create>
</div>
<app-loading-spinner [loading]="loading"></app-loading-spinner>
