<div>
  <quill-editor [(ngModel)]="content"></quill-editor>
  <div class="form-group mt-3 text-right">
    <button class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
    <button class="btn btn-secondary" type="submit" (click)="save()" [disabled]="!canSave">Save</button>
  </div>
</div>
